# ========================
# Python
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ========================
# Virtual Environment
# ========================
robomaster_env/
.venv/
venv/

# ========================
# VS Code
# ========================
.vscode/

# ========================
# OS files
# ========================
.DS_Store
Thumbs.db

# ========================
# Logs
# ========================
*.log

# ========================
# Models (optional)
# ========================
# 만약 모델 용량 크면 주석 해제
# assets/models/*.onnx

# ========================
# Calibration (optional)
# ========================
# assets/calibration/*.npz